{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load wpmessages_extras %}

{% block content %}
<style>
    .page-title {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 10px;
        /* Add any other styling you want here */
    }
    .btn-delete {
        background-color: red;
        border-color: red;
        color: white;
    }
    .btn-delete:hover {
        background-color: darkred;
        border-color: darkred;
        color: white;
    }
    .btn-migrate {
        background-color: orange;
        border-color: orange;
        color: white;
    }
    .btn-migrate:hover {
        background-color: darkorange;
        border-color: darkorange;
        color: white;
    }
</style>
<div class="main-container">
    <div class="table-responsive">
        <h1 class="page-title">Leads Aguardando Contato</h1>
        <hr>
        <br>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Serviço de Interesse</th>
                    <th>WhatsApp da Lead</th>
                    <th>Primeira Mensagem</th>
                    <th>Forma de Contactar</th>
                    <th>Número ID</th>
                    <th>Status Atendimento</th>
                    <th>Chat History</th>
                    <th>Prioridade</th>
                    <th>Contacted</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for wpmessage in wpmessages %}
                    {% if wpmessage.state.name|lower == 'completed' %}
                        <tr>
                            <td>{{ wpmessage.profile_name }}</td>
                            <td>{{ wpmessage.service_interest }}</td>
                            <td class="whatsapp">
                                {% if wpmessage.lead_phone_number %}
                                    <a href="https://wa.me/{{ wpmessage.lead_phone_number }}" target="_blank">
                                        <i class="fab fa-whatsapp"></i> {{ wpmessage.lead_phone_number|phone_format }}
                                    </a>
                                {% else %}
                                    <span class="blink2">Não Inf.</span>
                                {% endif %}
                            </td>
                            <td>{{ wpmessage.created_at|date:"d/m/Y" }}</td>
                            <td>{{ wpmessage.contact_method }}</td>
                            <td>{{ wpmessage.business_phone_number|phone_format }}</td>
                            <td>{{ wpmessage.state }}</td>
                            <td>{{ wpmessage.chat_history|truncatechars:50 }}</td>
                            <td>{{ wpmessage.priority }}</td>
                            <td>
                                <form method="post" action="{% url 'update_contacted_status' wpmessage.id %}">
                                    {% csrf_token %}
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="contacted" onchange="this.form.submit()" {% if wpmessage.contacted %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                </form>
                            </td>
                            <td><button data-wpmessage-id="{{ wpmessage.pk }}" class="btn-view btn-migrate migrateBtn">Quente</button></td>
                            <td><button data-wpmessage-id="{{ wpmessage.pk }}" class="btn-view btn-delete deleteBtn">Deletar</button></td>  
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h1 class="page-title">Leads Que Não Terminaram O Questionário</h1>
        <hr>
        <br>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Serviço de Interesse</th>
                    <th>WhatsApp da Lead</th>
                    <th>Primeira Mensagem</th>
                    <th>Forma de Contactar</th>
                    <th>Número ID</th>
                    <th>Status Atendimento</th>
                    <th>Chat History</th>
                    <th>Contacted</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for wpmessage in wpmessages %}
                    {% if wpmessage.state.name|lower != 'completed' %}
                        <tr>
                            <td>{{ wpmessage.profile_name }}</td>
                            <td>{{ wpmessage.service_interest }}</td>
                            <td class="whatsapp">
                                {% if wpmessage.lead_phone_number %}
                                    <a href="https://wa.me/{{ wpmessage.lead_phone_number }}" target="_blank">
                                        <i class="fab fa-whatsapp"></i> {{ wpmessage.lead_phone_number|phone_format }}
                                    </a>
                                {% else %}
                                    <span class="blink2">Não Inf.</span>
                                {% endif %}
                            </td>
                            <td>{{ wpmessage.created_at|date:"d/m/Y" }}</td>
                            <td>{{ wpmessage.contact_method }}</td>
                            <td>{{ wpmessage.business_phone_number|phone_format }}</td>
                            <td>{{ wpmessage.state }}</td>
                            <td>{{ wpmessage.chat_history|truncatechars:50 }}</td>
                            <td>
                                <form method="post" action="{% url 'update_contacted_status' wpmessage.id %}">
                                    {% csrf_token %}
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="contacted" onchange="this.form.submit()" {% if wpmessage.contacted %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100" id="confirmationModalLabel">Confirmar Deleção</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5>Tem certeza que deseja deletar esta Mensagem?</h5>
                <h5>Todos os dados da lead desta mesagem serão apagados!</h5>
                <h5>Isto será irreversível!</h5>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" action="#" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Confirmar" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="migrateModal" tabindex="-1" role="dialog" aria-labelledby="migrateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100" id="migrateModalLabel">Confirmar Migração</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5>Tem certeza que deseja migrar esta mensagem para o campo de Leads?</h5>
                <h5>Todos os dados desta mensagem serão transferidos para Leads!</h5>
                <h5>Isto será irreversível!</h5>
            </div>
            <div class="modal-footer">
                <form id="migrateForm" action="#" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Confirmar" class="btn btn-warning"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript para abrir a modal de confirmação de deleção
    document.querySelectorAll('.deleteBtn').forEach(button => {
        button.addEventListener('click', function() {
            const wpmessageId = this.getAttribute('data-wpmessage-id');
            const deleteForm = document.getElementById('deleteForm');
            deleteForm.action = `{% url 'delete_wpmessage' pk=0 %}`.replace('0', wpmessageId);
            $('#confirmationModal').modal('show');
        });
    });

    // JavaScript para abrir a modal de confirmação de migração
    document.querySelectorAll('.migrateBtn').forEach(button => {
        button.addEventListener('click', function() {
            const wpmessageId = this.getAttribute('data-wpmessage-id');
            const migrateForm = document.getElementById('migrateForm');
            migrateForm.action = `{% url 'migrate_to_lead' pk=0 %}`.replace('0', wpmessageId);
            $('#migrateModal').modal('show');
        });
    });
</script>
{% endblock content %}
