@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink, .blink2 {
border-radius: 10px;
color: white;
/*animation: blinker 1s linear infinite;*/
}

.blink {
background-color: red;
padding: 5px;
}

.blink2 {
background-color: orange;
padding: 5px;
}

/* Media Query para telas de dispositivos menores que 600 pixels */
@media screen and (max-width: 600px) {
.blink, .blink2 {
  padding: 10px; /* Aumenta o padding para uma melhor visualização em telas menores */
  border-radius: 20px; /* Aumenta o border-radius para um estilo mais marcante em dispositivos menores */
  font-size: 18px; /* Aumenta o tamanho da fonte para melhor leitura em dispositivos pequenos */
}
}

.container-fluid {
    padding-left: 20px;  
    padding-right: 20px;
}

@media (min-width: 768px) {
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
        
    }
}

.table td, .table th {
  padding: 20px; /* Adjust padding as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
}

.sidebar-logo {
  width: 100%;  /* Ajusta a largura para se encaixar no container */
  max-width: 100px;  /* Limita o tamanho máximo da imagem */
  height: auto;  /* Mantém a proporção da imagem */
  transform: rotate(0deg);  /* Corrige qualquer rotação */
  display: block;  /* Remove qualquer espaço extra abaixo da imagem */
  margin: 0 auto;  /* Centraliza a imagem no sidebar */
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px; /* Largura máxima do texto */
}