@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ---------------------- ROOT VARIABLES --------------------------- */
:root {
    --color-primary: #738eec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-white-ice: #f3f3f3f6;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark-variant: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-background: #f6f6f9;
    --color-dark: #020724;

    --color-orange-id: #ff5f00;
    --color-orange-id2: #ff5f10;
    --color-blue-id: #1c3145;
    --color-blue-id2: #041c33;
    --color-green-id: #21d667;
    --color-impactar-name:#ff5f10;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --padding_button-1: 0.4rem;
    --padding_button-2: 0.42rem;
    --padding_button-3: 0.48rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.light-theme-variables {
    --color-background: #f6f6f9;
    --color-white: #fff;
    --color-dark-variant: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-info-dark: #7d8da1;

    --color-white-ice: #f3f3f3f6;
    --color-orange-id: #ff5f00;
    --color-orange-id2: #ff5f10;
    --color-blue-id: #1c3145;
    --color-blue-id2: #041c33;

    --color-impactar-name:#ff5f10;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-info-dark: #dce1eb;

    --color-white-ice: #bcc7ce;
    --color-orange-id: #1c3145;
    --color-orange-id2: #243d55;
    --color-blue-id: #ff5f00;
    --color-blue-id2: #e6e6e6;

    --color-impactar-name:#dce1eb;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    overflow-x: hidden; /* Previne overflow horizontal */
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.88rem;
    background: var(--color-white);
    overflow-y: auto;
    margin: 0; /* Remove qualquer margem padrão do body */
    padding: 0;
    box-sizing: border-box;
    background: var(--color-background);
}

a {
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 14rem auto 23rem;
    overflow: hidden; /* Garante que não haja overflow */
    max-width: 100vw;
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-height: 100vh; /* Garante que o container ocupe a altura total da viewport */
}

/*
.top{
    border-bottom: 1px solid var(--color-blue-id);
}
*/

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--color-blue-id);
}

h2 {
    font-size: 1.4rem;
    color: var(--color-blue-id);
}

h3 {
    font-size: 0.87rem;
    color: var(--color-blue-id);
}

h4 {
    font-size: 0.8rem;
    color: var(--color-blue-id);
}

h5 {
    font-size: 0.77rem;
    color: var(--color-blue-id);
}


small {
    position: absolute;
    bottom: -0.75rem; /* Ajuste conforme necessário */
    padding: 0 0.2rem;
    font-size: 0.75rem;
    font-weight: bold;
    transform: translateY(50%); /* Ajusta a posição do texto */
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.blue-id {
    color: var(--color-blue-id);
}

.orange-id {
    color: var(--color-orange-id);
}

.orange-id2 {
    color: var(--color-orange-id2);
}

#imapactar {
    color: var(--color-impactar-name);
}

aside {
    height: 100vh;
    margin-bottom: 1rem;
    background: var(--color-white);
    padding: 1.2rem 0rem;
    margin: 0;
    border-radius: 10px;
}

aside .top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 3rem;
    height: 3rem;
}

aside .close {
    display: none;
}

/* ===================== SIDEBAR ======================== */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    background: var(--color-white);
    border-radius: 10px;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 400ms ease;
    text-decoration: none;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: color 0.4s ease;
}

/* Fixar o contêiner de logout na parte inferior da barra lateral */
.logout-container {
    position: absolute;
    margin-top: auto; /* Empurra automaticamente para baixo */
    width: 100%; /* Ajuste conforme necessário */
    bottom: 2rem;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-blue-id);
    margin-left: 0;
    transition: all 300ms ease;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-blue-id);
}

aside .sidebar a.active span {
    color: var(--color-blue-id);
    margin-left: calc(1rem - 3px);
    transition: all 300ms ease;
    border: none;
}

aside .sidebar a:hover {
    color: var(--color-blue-id);
}

aside .sidebar a:hover span {
    color: var(--color-blue-id);
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-orange-id);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: var(--border-radius-1);
}

/* ================= MAIN BAR ===================== */

main {
    background: var(--color-background);
    padding: 0 0.5rem;
    overflow-x: auto; /* Permite overflow horizontal */
    margin: 0 0.5rem;
}

main h1 {
    margin: 1rem 0rem;
    font-weight: 800;
}

/* ================= TOP BAR ===================== */

/* ===================== RIGHT SESSION HERE ======================== */

.right {
    background: var(--color-white);
    padding: 1.2rem 0rem;
    margin: 0;
    border-radius: 10px;
}

.right .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    background: var(--color-light); /* fundo inicial */
    border-radius: var(--border-radius-1);
    cursor: pointer;
    position: relative; /* Mantém os ícones dentro */
    overflow: hidden; /* Esconde qualquer overflow */
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

/* Configuração para quando o tema claro está ativo */
.theme-toggler span.active {
    background: var(--color-primary); /* Cor de fundo para o ícone ativo */
    color: var(--color-white); /* Cor do ícone */
}

/* Ícones não ativos recebem um fundo transparente para integração suave */
.theme-toggler span:not(.active) {
    background: transparent; /* Fundo transparente */
    color: var(--color-dark-variant); /* Cor do ícone */
}

.right .top .profile {
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    padding-right: 1rem;
}

.right .top .profile .info {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.right .top .profile .info p {
    color: var(--color-dark-variant);
    margin: 0;
    display: inline; /* Define o parágrafo como inline */
}

.right .top .profile .info b {
    color: var(--color-blue-id);
    font-weight: bold; /* Negrito para o nome */
}

/* ===================== IF YOU WANT TO PUT MORE STUFF HERE ======================== */
/* ===================== IF YOU WANT TO PUT MORE STUFF HERE ======================== */

/* ===================== HEADER OF EACH MAIN PAGE (LEADS,CLIENTS, IDEABOX ETC...) ======================== */

.main-container {
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--color-background);
    overflow: hidden; /* Certifique-se de que o conteúdo dentro do contêiner não transborde */
}

/* Overwriting Bootstrap row class */
.row {
    max-width: 100%;

}

.header {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-between; 
}

.header-content {
    text-align: left;
    color: var(--color-blue-id);
}

.header-content h1 {
    font-size: 42px;
}

.add-button {
    display: inline-flex;
    align-items: center;
    background: var(--color-blue-id);
    color: var(--color-orange-id);
    padding: var(--padding_button-2);
    border-radius: var(--border-radius-1);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave para a transformação */
    position: relative;
    z-index: 10; 
}

.add-button:hover {
    text-decoration: none;
    color: var(--color-orange-id);
}

.add-button .material-icons {
    margin-right: 0.2rem;
}

.search {
    display: flex; /* Alinha os itens do formulário na mesma linha */
    align-items: center; /* Centraliza verticalmente os itens */
    gap: 8px; /* Espaço entre os itens */
}

.search-container {
    display: flex;
    width: 100%; /* Garante que o formulário ocupe todo o espaço disponível */
}


.search-input {
    flex-grow: 1; /* Permite que o input ocupe o máximo de espaço disponível */
    padding: 8px; /* Espaçamento interno para o texto não tocar na borda */
    border: 1px solid var(--color-dark-variant); /* Borda mais sutil */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: transparent; /* Cor de fundo próxima ao branco */
    color: var(--color-blue-id2);
}

.search-button,
.clear-search {
    background: transparent; /* Remove qualquer fundo padrão */
    border: none; /* Remove bordas */
    cursor: pointer; /* Cursor mãozinha quando passa por cima */
    display: relative; /* Alinha os ícones verticalmente */
    align-items: center; /* Centraliza verticalmente o ícone dentro do botão */
    padding: 8px; /* Espaçamento uniforme */
    color: var(--color-blue-id); /* Cor sutil para os ícones */
}

/* Efeito de hover para o botão e link */

.search-button:hover,
.clear-search:hover {
    color: var(--color-info-dark); /* Fundo leve no hover */
}


/* ==================== TABELAS E BOTÕES =============== */

/* Barra de rolagem horizontal para tabelas grandes */
.table-responsive {
    overflow-x: auto;
    width: 100%;
    padding: 1rem 0.5rem; /* Adiciona espaço ao redor da tabela */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao contêiner da tabela */
    margin: 2.5rem 0; /* Margem para separar a tabela do conteúdo adjacente */
    background: var(--color-white); /* Fundo branco para a tabela */
    border-radius: 10px; /* Bordas arredondadas */
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0; /* Remover a margem da tabela, já que o contêiner possui margem */
    font-size: 14px;
}

.custom-table th {
    padding: 0.5rem 1.2rem 1.5rem;
    text-align: center;
    color: var(--color-blue-id);
    white-space: nowrap;
    border-top: none;
    
}

.custom-table th a {
    color: var(--color-blue-id);
    
}

.custom-table th a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.custom-table td {
    padding: 0.75rem;
    border-top: solid 1px var(--color-dark-variant);
    text-align: left;
    color: var(--color-blue-id2);
    
}

.custom-table td a {
    color: var(--color-blue-id2);

}

.custom-table td a:hover {
    color: var(--color-primary-variant);
    text-decoration: none;
}

/* Estilos para as linhas alternadas da tabela */
.custom-table tbody tr:nth-child(odd) {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.custom-table tbody tr:nth-child(even) {
    background-color: var(--color-light);
    color: var(--color-blue-id);
}


/* Estilos para colunas específicas */
.custom-table .instagram, 
.custom-table .website, 
.custom-table .whatsapp {
    white-space: nowrap;
}

.custom-table .whatsapp a {
    display: flex;
    align-items: center;
}

.custom-table .website a {
    display: flex;
    align-items: center;
}

/* Botões personalizados da Tabela */

.btn-view,
.btn-update {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: var(--border-radius-1);
    text-align: center;
    font-size: bold;
    text-decoration: none;
}

.btn-view {
    background: var(--color-green-id);
    font-weight: bold;
    color: var(--color-white) !important;
}

.btn-update {
    background: var(--color-primary);
    font-weight: bold;
    color: var(--color-white) !important;
}

/* Links personalizados */
/* Ajuste para a coluna WhatsApp */

.table-responsive .whatsapp a {
    display: inline-flex;
    align-items: center;
    color: var(--color-blue-id2);
    font-weight: bold;
    white-space: nowrap; /* Evita quebra de linha */
}

.table-responsive .whatsapp .fa-whatsapp {
    font-size: 20px;
    align-items: center;
    margin-right: 4px;
    color: #25D366; /* Cor do ícone do WhatsApp */
}

/* Ajuste para a coluna Website */
.table-responsive .website a {
    display: flex;
    align-items: center;
    color: var(--color-blue-id2);
    font-weight: bold;
}

.table-responsive .website .material-icons {
    margin-right: 4px;
    color: var(--color-blue-id2);
}

.table-responsive .whatsapp a:hover {
    color: var(--color-primary);
}

.table-responsive .website a:hover {
    color: var(--color-primary);
}

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; /* Largura máxima do texto */
  }

/* Estilos para o texto que pisca na tabela */

.blink {
    background-color: var(--color-danger);
    color: var(--color-white);
    display: inline-block;
    padding: 2px 10px;
    border-radius: var(--border-radius-1);
    text-align: center;
}

.blink2 {
    display: inline-block;
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    white-space: nowrap; /* Evita quebra de linha */
}
.dont-apply {

    .blink, .blink2 {
        animation: blink-animation 1.5s steps(2, start) infinite;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


/* ============================== FORMULÁRIOS ======================= */


/* Container para o formulário */
.form-container {
     width: 100%;
    max-width: 600px; 
    background: var(--color-white);
    padding: 2rem;
    border-radius: var(--border-radius-1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem; /* Adiciona margem inferior para espaçamento */
}


/* Adicionando margem inferior ao formulário */
.form-container form {
    margin-bottom: 2rem; /* Adiciona margem inferior ao formulário */
    
}

label{
    color: var(--color-blue-id);
}

select.form-select, select.form-control {
    border: 1px solid var(--color-info-dark); /* Borda sólida visível */
    border-radius: 5px; /* Bordas arredondadas */
    transition: border-color 0.3s ease;
    color: var(--color-blue-id); /* Cor do texto */
    -webkit-appearance: none; /* Remove o estilo padrão do navegador */
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

select.form-select:focus, select.form-control:focus {
    border-color: var(--color-primary);
    outline: none;
}

.form-container input, .form-container select, .form-container textarea{
    background-color: var(--color-white-ice);
}

div .form-buttons .btn-submit, .btn-cancel {
    border-radius: 5px;
    background: var(--color-white);
    margin-right: 1rem;
}

/* Taking away the white card behind the table */
#client_suggestions {
    background: transparent;
}

/* =========================  AJUSTES RESPONSIVOS =================================== */

/* TABLET */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .logo img {
        position: relative;
        margin-left: 1.2rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
        margin-bottom: 0.2rem;
    }
    
    aside .sidebar a:last-child {
        position: bottom;
        margin-top: 1.8rem;
    }
}

/* MOBILE */

@media screen and (max-width: 936px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    main{
        margin: 1rem 0;
        padding: var(--padding-1);
    }

    .main-container {
        margin: 1rem;
        padding: var(--padding-1);
        background: var(--color-background);
        overflow: hidden; /* Certifique-se de que o conteúdo dentro do contêiner não transborde */
    }

    .header {
        display: flex;
        margin-bottom: 1rem;
        flex-wrap: wrap
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms forwards;
        border-radius: 0 20px 20px;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: auto;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        color: var(--color-blue-id);
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    #close-btn, #menu-btn {
        color: var(--color-blue-id);
        text-shadow: none;
        border: none;
    } 

    .right {
        width: 94%;
        margin: 0 auto 4rem;
        background: none;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }
    
    .right .top .theme-toggler {
        position: relative;
        right: 0%;
    }
    
    .right .top .profile {
        position: relative;
        right: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .right .top .profile .info {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
        
    }

    small {
    /* Ajuste conforme necessário 
        position: absolute;
        bottom: -0.6rem; 
        right: 1.2rem;*/
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span { 
       font-size: 2rem; 
    }

    .add-button {
        z-index: 1;
    }
}

@media screen and (max-width: 380px) {

    .right .top {
        gap: 2rem;
    }

    .right .top .profile .info {
        padding: 1rem;
        display: none;
    }

}

/* =============  Sobrescrevendo o CSS do bootstrap =================== */

.card {
    background: var(--color-white);
}

/* Making sure the selector boxes on the Leads and Client update forms are on center */

/* Lead Forms */
#id_responsible, #id_origin, #id_service_type, #id_priority{
    margin: 0.2rem;
    padding: 0.1rem;
    text-align: center;
    width: auto;
}

/* Clint Forms */
#id_actual_date, #id_notes, #id_planned_date, 
#id_name, #id_company_name, #id_whatsapp, #id_email {
    background: var(--color-white-ice);
}

/* Profile Forms */
#id_first_name, #id_last_name, #id_bio,
#id_birth_date, #id_profile_image, #id_phone_number {
    background: var(--color-white-ice);
}

div .form-control .d-flex .h-auto {
    background-color: var(--color-white-ice);
}

/* Change Password Forms */

#id_old_password, #id_new_password1, #id_new_password2 {
    background-color: var(--color-white-ice);

}

#id_new_password1_helptext {
    color: var(--color-info-dark);
}

/* Change on Card Headers and Modal Contents */
.card-header {
    color: var(--color-info-dark);
}

.modal-content {
    background: var(--color-white);
}

