{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-container">
    <div class="header-content">
        <h1>Enviar Sugestão</h1>
        <br>
    </div>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-buttons">
                <button type="submit" class="btn-submit">
                    <span class="btn btn-success">Enviar</span>
                </button>
                <button type="button" onclick="location.href='{% url 'suggestions_list' %}'" class="btn-cancel">
                    <span class="btn btn-danger">Cancelar</span>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
