{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load client_extras %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">INFO DA LEAD</h1>
    </div>
    <div class="row">
        <div class="card o-hidden border-0 shadow-lg my-5 col-lg-12">
            <div class="card-body">
                <h2>{{ lead.company_name }}</h2>
                <p><strong>Responsável: </strong> {{ lead.responsible }}</p>
                <p><strong>Origem da Lead: </strong> {{ lead.origin }}</p>
                <p><strong>Contato: </strong> {{ lead.first_name }}</p>
                <p><strong>Email: </strong> {{ lead.email }}</p>
                <p><strong>Website: </strong> <a href="{{ client.website }}" target="_blank">{{ client.website }}</a></p>
                <p><strong>WhatsApp: </strong> <a href="https://wa.me/{{ lead.whatsapp }}" target="_blank" class="text-success"><i class="fab fa-whatsapp"></i> {{ lead.whatsapp|phone_format }}</a></p>
                <p><strong>Data de Criação: </strong> {{ lead.created_at|date:"d/m/Y" }}</p>
                <p><strong>Próximo Contato: </strong> {{ lead.return_contact|date:"d/m/Y" }}</p>
                <p><strong>Prioridade: </strong> {{ lead.priority.name }}</p>
                <p><strong>Conteúdo: </strong> {{ lead.lead_info }}</p>
                <!-- Botões de ação -->
                <a href="{% url 'update_lead' lead.pk %}" class="btn btn-sm btn-success shadow-sm">Editar</a>
                <a href="{% url 'leads' %}" class="btn btn-sm btn-primary shadow-sm">Voltar</a>
                <button id="deleteBtn" type="button" class="btn btn-sm btn-danger shadow-sm">Deletar</button>
            </div>
        </div>
        <div class="card o-hidden border-0 shadow-lg my-5 col-lg-12">
            <div class="card-body">
                <!-- Formulário para registrar um novo FollowUp -->
                <br>
                <h1 class="h3 mb-0 text-gray-800">ADICIONAR ACOMPANHAMENTO</h1>
                <br>
                <form method="post" action="{% url 'lead_info' lead.pk %}">
                    {% csrf_token %}
                    {{ followup_form|crispy }}
                    <button type="submit" class="btn btn-primary">Registrar Acompanhamento</button>
                </form>
            </div>
        </div>
        <div class="card o-hidden border-0 shadow-lg my-5 col-lg-12">
            <div class="card-body">
                <h3>Acompanhamentos Anteriores:</h3>
                <ul>
                {% for followup in followups %}
                    <li>{{ followup.planned_date|date:"d/m/Y" }} - Realizado: {{ followup.actual_date|date:"d/m/Y" }} - Notas: {{ followup.notes }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100" id="confirmationModalLabel">Confirm Deletion</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5>Tem certeza que deseja deletar esta Lead?</h5>
                <h5>Isto será irreversível!</h5>
            </div>
            <div class="modal-footer">
                <form action="{% url 'delete_lead' pk=lead.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Confirm" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // JavaScript para abrir a modal de confirmação
    document.getElementById('deleteBtn').addEventListener('click', function() {
        $('#confirmationModal').modal('show');
    });
</script>
{% endblock content %}
