{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% load lead_extras %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Leads List</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Leads</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Instagram</th>
                    <th>Website</th>
                    <th>WhatsApp</th>
                    <th>Criado Em</th>
                    <th>Primeiro Contato</th>
                    <th>Objectivo</th>
                    <th>Prioridade</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td>{{ lead.first_name }} {{ lead.last_name }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.instagram|default_if_none:"N/A" }}</td>
                    <td>
                        {% if lead.website %}
                        <a href="{{ lead.website }}" target="_blank">{{ lead.website }}</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if lead.whatsapp %}
                        <a href="https://wa.me/{{ lead.whatsapp }}" target="_blank">{{ lead.whatsapp|phone_format }}</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>{{ lead.created_at|date:"d/m/Y" }}</td>
                    <td>
                        {% if lead.first_contact_date %}
                        {{ lead.first_contact_date|date:"d/m/Y" }}
                        {% else %}
                        Sem Contato
                        {% endif %}
                    </td>
                    <td>{{ lead.objective }}</td>
                    <td>{{ lead.priority }}</td>
                    <td>{{ lead.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        // Você pode adicionar ações JavaScript aqui se necessário
    </script>
</body>
</html>
{% endblock content %}