{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CRM - IMPACTAR DIGITAL</title>

  <!-- Custom fonts for bootstrap-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom fonts Google Material Icons (Using this) -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  
  <!-- Custom styles Custom2 Css-->
  <link rel="stylesheet" href="{% static 'css/custom2.css' %}">

  <!-- Apply the saved theme immediately to avoid flicker -->
  <script>
    (function() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme === 'dark') {
            document.documentElement.classList.add('dark-theme-variables');
        }
    })();
  </script> 

</head>

<body id="page-top">
    <div class="container"> 
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'img/LOGO_ID.png' %}">
                    <h2><span class="orange-id" id="imapactar">IMPACTAR </span><span class="blue-id">DIGITAL</span>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{% url 'dashboard' %}" class="{% active_url request 'dashboard' %}">
                    <span class="material-icons">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'clients' %}" class="{% active_url request 'clients' %}">
                    <span class="material-icons">groups</span>
                    <h3>Clients</h3>
                </a>
                <a href="{% url 'leads' %}" class="{% active_url request 'leads' %}">
                    <span class="material-icons">reduce_capacity</span>
                    <h3>Leads</h3>
                </a>
                <a href="#" class="{% active_url request 'messages' %}">
                    <span class="material-icons">mail_outline</span>
                    <h3>Messages</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="{% url 'profile' %}" class="{% active_url request 'profile' %}">
                    <span class="material-icons">person_outline</span>
                    <h3>Profile</h3>
                </a>
                <a href="{% url 'change-password' %}" class="{% active_url request 'change-password' %}">
                    <span class="material-icons">key</span>
                    <h3>Change Password</h3>
                </a>
                <a href="{% url 'suggestions_list' %}" class="{% active_url request 'suggestions_list' %}">
                    <span class="material-icons">lightbulb</span>
                    <h3>Idea Box</h3>
                </a>
                <div class="logout-container">
                    <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">
                        <span class="material-icons">logout</span>
                        <h3>Logout</h3>
                    </a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </aside>
        <main>
            <!-- MAIN SESSION HERE -->
            {% include 'common/messages.html' %}

            {% block content %}  
            
            {% endblock content %}
        </main>
        <!-- RIGHT SESSION HERE -->
        <div class="right">
            <!-- BEGIN OF TOP BAR -->
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons active">light_mode</span>
                    <span class="material-icons">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Welcome, <b>{{ user.first_name }} {{ user.last_name }}</b>!</p>
                    </div>
                    <div class="profile-photo">
                        <img src="{% static 'img/LOGO_ID.png' %}" alt="Profile Photo">
                        <small class="text-muted">{{ user.username }}</small>
                    </div>
                </div>
            </div>
            <!-- END OF TOP BAR -->
        </div>
  </div>
  
{% block script %}

  <!-- JavaScript e outros scripts essenciais -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  
  <script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#msg').fadeOut('slow', function() {
                $(this).remove();
            });
        }, 2000);
    });
  </script>

{% endblock script %}

{% block extra_css %} 
<!-- Custom CSS específicos para certas páginas podem ser adicionados aqui -->

<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

{% endblock extra_css %}
{% block extra_js %}{% endblock %}

</body>
</html>
