{% load static %}
{% load crispy_forms_tags %} 
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CRM - IMPACTAR DIGITAL</title>

  <!-- Custom fonts for bootstrap-->
 
  <!-- Custom fonts Google Material Icons (Using this) -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  <!-- Custom styles Custom2 Css-->
  <link rel="stylesheet" href="{% static 'css/custom2.css' %}">

  <!-- Date Time Picker CSS -->
  <link rel="stylesheet" href="{% static 'date-time-phone/jquery-ui.css' %}">
  <link rel='stylesheet' href="{% static 'date-time-phone/jquery-ui-timepicker-addon.css' %}"/>
  <!-- Date Time Picker CSS -->
  
</head>
<body id="page-top">
    <div class="container"> 
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'img/LOGO_ID.png' %}">
                    <h2><span class="orange-id">IMPACTAR </span><span class="blue-id">DIGITAL</span>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">close</span>
                </div>
            </div>
            {% if request.user == suggestion.user or request.user.is_superuser %}
            <div class="sidebar">
                <a href="{% url 'dashboard' %}" >
                    <span class="material-icons">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'clients' %}">
                    <span class="material-icons">groups</span>
                    <h3>Clients</h3>
                </a>
                <a href="{% url 'leads' %}">
                    <span class="material-icons">reduce_capacity</span>
                    <h3>Leads</h3>
                </a>
                <a href="#">
                    <span class="material-icons">mail_outline</span>
                    <h3>Messages</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="{% url 'profile' %}">
                    <span class="material-icons">person_outline</span>
                    <h3>Profile</h3>
                </a>
                <a href="{% url 'change-password' %}">
                    <span class="material-icons">key</span>
                    <h3>Change Password</h3>
                </a>
                <a href="{% url 'suggestions_list' %}">
                    <span class="material-icons">lightbulb</span>
                    <h3>Idea Box</h3>
                <div class="logout-container">
                    <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">
                        <span class="material-icons">logout</span>
                        <h3>Logout</h3>
                    </a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            {% endif %}
        </aside>
        <main>
        <!-- MAIN CONTENT HERE I MAY HAVE TO MOVE THE BLOCK CONTENT HERE --> 
        </main>
        <!-- RIGHT SESSION IF NEEDED -->
        <div class="right">
            <!-- BEGIN OF TOP BAR -->
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons active">light_mode</span>
                    <span class="material-icons">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Welcome, <b>{{user.first_name}} {{user.last_name}}!</b></p>
                        <small class="text-muted">{{user.user_name}}</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{% static 'img/LOGO_ID.png' %}">
                    </div>
                </div>
            </div>
            <!-- END OF TOP BAR -->
        </div>
    </div>    
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      {% include 'common/messages.html' %}

      {% block content %}  
      
      {% endblock content %}
      
    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% block script %}
  <!-- Bootstrap core JavaScript e outros scripts essenciais -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'date-time-phone/jquery-ui-timepicker-addon.js' %}"></script>
  <script src="{% static 'date-time-phone/jquery-input-mask-phone-number.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    $(document).ready(function() {
      
        setTimeout(function() {
          $('#msg').fadeOut('slow', function() {
              $(this).remove();
          });
      }, 2000);
    }); 
  </script>
{% endblock script %}

{% block extra_css %} 
<!-- Custom CSS específicos para certas páginas podem ser adicionados aqui -->

<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

{% endblock extra_css %}

</body>
</html>
