{% extends 'base.html' %}
{% load static %}
{% load lead_extras %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="mb-3">Adicionar Cliente</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Adicionar Cliente</button>
                    <button type="button" onclick="location.href='{% url 'clients' %}'" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}