{% extends 'base_table.html' %}
{% load static %}

{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Clients</h1>
        </div>          

        <!-- Main Content Here -->
       
        <h1> Welcome to Clients </h1>
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock content %}