{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load client_extras %}

{% block content %}
<div class="main-container">
    <div class="header">
        <div class="header-content">
           <!--  <h1>Clientes</h1> -->
            <a href="{% url 'add_client' %}" class="add-button" role="button">
                <span class="material-icons">add</span>
                <span class="btn-text">Adicionar Cliente</span>
            </a>
        </div>
        <div class="search">
            <!-- Formulário de Busca -->
            <div class="search-container">
                <form method="get" action="{% url 'clients' %}">
                    <input type="text" name="search_term" value="{{ request.GET.search_term }}" placeholder="Buscar Clientes" class="search-input">
                    <button type="submit" class="search-button">
                        <span class="material-icons">search</span>
                    </button>
                    <a href="{% url 'clients' %}" class="clear-search">
                        <span class="material-icons">undo</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="custom-table">
            <thead>
                <tr>
                    <th><a href="?sort=client_name" class="sortable">Nome do Cliente</a></th>
                    <th><a href="?sort=company_name" class="sortable">Empresa do Cliente</a></th>
                    <th>Email</th>
                    <th>Instagram</th>
                    <th>Website</th>
                    <th>WhatsApp</th>
                    <th><a href="?sort=created_at" class="sortable">Cadastrado Em</a></th>
                    <th>Data do Contrato</th>
                    <th><a href="?sort=service_type" class="sortable">Serviço Prestado</a></th>
                    <th><a href="?sort=client_income" class="sortable">Valor do Contrato</a></th>
                    <th><a href="?sort=client_budget" class="sortable">Gasto Máximo Mensal</a></th>
                    <th><a href="?sort=id" class="sortable">ID</a></th>
                    <th>Vizualizar</th>
                    <th>Atualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td style="text-align: left;"><a href="{% url 'client_info' pk=client.pk %}">{{ client.client_name }} </a></td>
                    <td style="text-align: left;"><a href="{% url 'client_info' pk=client.pk %}">{{ client.company_name }} </a></td>
                    <td>{{ client.email }}</td>
                    <td class="instagram">
                        {% if client.instagram %} 
                            {{client.instagram|default_if_none:"Não Inf."}}
                        {% else %}
                            <span class="blink2">Não Inf.</span>
                        {% endif %}    
                    </td>
                    <td class="website">
                        {% if client.website %}
                            <a href="{{ client.website }}" target="_blank">
                                <span class="material-icons">link</span> <strong>Visit</strong>
                            </a>
                        {% else %}
                            <span class="blink2">Não Inf.</span>
                        {% endif %}
                    </td>
                    <td class="whatsapp">
                        {% if client.whatsapp %}
                            <a href="https://wa.me/{{ client.whatsapp }}" target="_blank">
                                <i class="fab fa-whatsapp"></i> {{ client.whatsapp|phone_format }}
                            </a>
                        {% else %}
                            <span class="blink2">Não Inf.</span>
                        {% endif %}
                    </td>
                    <td>{{ client.created_at|date:"d/m/Y" }}</td>
                    <td>{{ client.contract_date|date:"d/m/Y" }}</td>
                    <td>{{ client.service_type }}</td>
                    <td>{{ client.client_income }}</td>
                    <td>{{ client.client_budget }}</td>
                    <td>{{ client.id }}</td>
                    <td><a href="{% url 'client_info' pk=client.pk %}" class="btn-view">Vizualizar</a></td>  
                    <td><a href="{% url 'update_client' pk=client.pk %}" class="btn-update">Atualizar</a></td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
